In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [12]:
dogs = pd.read_csv('dog.csv', sep=',')

In [21]:
dogs = dogs.set_index('Breed')

In [14]:
dogs

,Year,Club,Position,Breed,Registrations
0,2006,UK Kennel Club,1,Labrador Retriever,45.7
1,2006,UK Kennel Club,2,English Cocker Spaniel,20.459
2,2006,UK Kennel Club,3,English Springer Spaniel,15.133
3,2006,UK Kennel Club,4,German Shepherd,12.857
4,2006,UK Kennel Club,5,Staffordshire Bull Terrier,12.729
...,...,...,...,...,...
125,2019,Club registration figures for 2024,6,Poodles,-
126,2019,Club registration figures for 2025,7,Beagles,-
127,2019,Club registration figures for 2026,8,Rottweilers,-
128,2019,Club registration figures for 2027,9,German Shorthaired Pointer,-
129,2019,Club registration figures for 2028,10,Pembroke Welsh Corgi,-

In [15]:
'''
 isnull() - verificar se existem dados nulos no Dataframe
 Retorna True caso algum dado seja nulo, retorna False se não for nulo
'''

dogs.isnull()

      Year  Club   Position  Breed  Registrations
0    False  False     False  False          False
1    False  False     False  False          False
2    False  False     False  False          False
3    False  False     False  False          False
4    False  False     False  False          False
..     ...    ...       ...    ...            ...
125  False  False     False  False          False
126  False  False     False  False          False
127  False  False     False  False          False
128  False  False     False  False          False
129  False  False     False  False          False

[130 rows x 5 columns]

In [16]:
'''
A junção da função isnull() com sum() retorna quantos dados
nulos existem por coluna
'''

dogs.isnull().sum()

Year             0
Club             0
Position         0
Breed            0
Registrations    0
dtype: int64

In [17]:
'''
T é uma alias (abreviação) para Transpose, e tem como objetivo de
verificar algo em uma linha completa
any() retorna True se alguma coluna da linha for nulo, False caso contrário
'''

dogs.isnull().T.any()

0      False
1      False
2      False
3      False
4      False
       ...
125    False
126    False
127    False
128    False
129    False
Length: 130, dtype: bool

In [18]:
'''
Retorna apenas os índices dos clientes
que possuem pelo menos 1 dado nulo
'''

dogs[dogs.isnull().T.any()].index

Int64Index([], dtype='int64')

In [19]:
##Slicing simples para testar se há dogs que possuem o Registrations nulo, mas retornando dados apenas da coluna

dogs.loc[dogs.Registrations.isnull(),'Registrations']

Series([], Name: Registrations, dtype: object)

In [24]:
dogs.groupby('Breed')

In [25]:
'''
Retornando a quantidade cachorros 
'''

dogs.groupby('Breed').count()

                               Year  Club   Position  Registrations
Breed
Beagle                            4      4         4              4
Beagles                           1      1         1              1
Bernese Mountain Dog              3      3         3              3
Border Collie                     2      2         2              2
Border Terrier                    2      2         2              2
Boxer                             9      9         9              9
Brittany                          1      1         1              1
Brittany Spaniel                  1      1         1              1
Bulldog                           2      2         2              2
Bulldogs                          1      1         1              1
Cavalier King Charles Spaniel     4      4         4              4
Chihuahua                         1      1         1              1
Dachshund                         3      3         3              3
Dachshund (all varieties)         1      1         1              1
Dalmatian                         1      1         1              1
Dobermann                         1      1         1              1
English Bulldog                   1      1         1              1
English Cocker Spaniel            4      4         4              4
English Setter                    2      2         2              2
English Springer Spaniel          3      3         3              3
French Bulldog                    1      1         1              1
French Bulldogs                   1      1         1              1
German Shepherd                  10     10        10             10
German Shepherd Dog               1      1         1              1
German Shorthaired Pointer        3      3         3              3
German Spitz (all sizes)          1      1         1              1
Golden Retriever                 11     11        11             11
Great Dane                        1      1         1              1
Jack Russell Terrier              1      1         1              1
Labrador Retriever               11     11        11             11
Maltese                           1      1         1              1
Miniature Schnauzer               4      4         4              4
Pembroke Welsh Corgi              1      1         1              1
Poodle                            5      5         5              5
Poodles                           1      1         1              1
Poodle (All sizes)                1      1         1              1
Pug                               2      2         2              2
Rottweiler                        2      2         2              2
Rottweilers                       1      1         1              1
Segugio Italiano a Pelo Raso      1      1         1              1
Segugio Maremmano                 1      1         1              1
Shetland Sheepdog                 3      3         3              3
Shih Tzu                          6      6         6              6
Staffordshire Bull Terrier        4      4         4              4
West Highland White Terrier       3      3         3              3
Yorkshire Terrier                 6      6         6              6

In [26]:
dogs.groupby('Breed').count().Registrations

Breed
Beagle                            4
Beagles                           1
Bernese Mountain Dog              3
Border Collie                     2
Border Terrier                    2
Boxer                             9
Brittany                          1
Brittany Spaniel                  1
Bulldog                           2
Bulldogs                          1
Cavalier King Charles Spaniel     4
Chihuahua                         1
Dachshund                         3
Dachshund (all varieties)         1
Dalmatian                         1
Dobermann                         1
English Bulldog                   1
English Cocker Spaniel            4
English Setter                    2
English Springer Spaniel          3
French Bulldog                    1
French Bulldogs                   1
German Shepherd                  10
German Shepherd Dog               1
German Shorthaired Pointer        3
German Spitz (all sizes)          1
Golden Retriever                 11
Great Dane                        1
Jack Russell Terrier              1
Labrador Retriever               11
Maltese                           1
Miniature Schnauzer               4
Pembroke Welsh Corgi              1
Poodle                            5
Poodles                           1
Poodle (All sizes)                1
Pug                               2
Rottweiler                        2
Rottweilers                       1
Segugio Italiano a Pelo Raso      1
Segugio Maremmano                 1
Shetland Sheepdog                 3
Shih Tzu                          6
Staffordshire Bull Terrier        4
West Highland White Terrier       3
Yorkshire Terrier                 6
Name: Registrations, dtype: int64

In [27]:
'''
Ordenando a contagem do dataframe do menor para o maior.
'''

dogs.groupby('Breed').count().Registrations.sort_values()

Breed
French Bulldog                    1
Rottweilers                       1
Poodle (All sizes)                1
Poodles                           1
Pembroke Welsh Corgi              1
Maltese                           1
Jack Russell Terrier              1
Great Dane                        1
German Spitz (all sizes)          1
German Shepherd Dog               1
French Bulldogs                   1
Segugio Italiano a Pelo Raso      1
English Bulldog                   1
Dobermann                         1
Segugio Maremmano                 1
Dachshund (all varieties)         1
Beagles                           1
Brittany                          1
Dalmatian                         1
Bulldogs                          1
Brittany Spaniel                  1
Chihuahua                         1
Bulldog                           2
English Setter                    2
Rottweiler                        2
Pug                               2
Border Terrier                    2
Border Collie                     2
West Highland White Terrier       3
English Springer Spaniel          3
German Shorthaired Pointer        3
Dachshund                         3
Shetland Sheepdog                 3
Bernese Mountain Dog              3
Cavalier King Charles Spaniel     4
Staffordshire Bull Terrier        4
Miniature Schnauzer               4
English Cocker Spaniel            4
Beagle                            4
Poodle                            5
Shih Tzu                          6
Yorkshire Terrier                 6
Boxer                             9
German Shepherd                  10
Golden Retriever                 11
Labrador Retriever               11
Name: Registrations, dtype: int64

In [28]:
'''
Ordenando a contagem do dataframe do maior para o menor.
'''

dogs.groupby('Breed').count().Registrations.sort_values(ascending=False)

Breed
Labrador Retriever               11
Golden Retriever                 11
German Shepherd                  10
Boxer                             9
Yorkshire Terrier                 6
Shih Tzu                          6
Poodle                            5
English Cocker Spaniel            4
Staffordshire Bull Terrier        4
Miniature Schnauzer               4
Beagle                            4
Cavalier King Charles Spaniel     4
West Highland White Terrier       3
Bernese Mountain Dog              3
Shetland Sheepdog                 3
English Springer Spaniel          3
Dachshund                         3
German Shorthaired Pointer        3
Border Terrier                    2
Bulldog                           2
Border Collie                     2
English Setter                    2
Rottweiler                        2
Pug                               2
Poodles                           1
Poodle (All sizes)                1
Chihuahua                         1
Rottweilers                       1
Pembroke Welsh Corgi              1
Segugio Maremmano                 1
Segugio Italiano a Pelo Raso      1
Jack Russell Terrier              1
Brittany                          1
Maltese                           1
Brittany Spaniel                  1
Great Dane                        1
German Spitz (all sizes)          1
Beagles                           1
Bulldogs                          1
French Bulldogs                   1
French Bulldog                    1
English Bulldog                   1
Dobermann                         1
Dalmatian                         1
Dachshund (all varieties)         1
German Shepherd Dog               1
Name: Registrations, dtype: int64